.register_link {
  line-height: 1;
  position: relative;
  display: inline-block;
  padding: 5px;
  overflow: hidden;
  color: #d4d4d4;
  vertical-align: bottom;
}

.register_link:hover {
  color: #000000;
  text-shadow: none;
}

.register_link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #06b600;
  transform: translateY(85%);
  z-index: -1;
}

.register_link:hover::after {
  transform: translateY(0);
  transition: transform 0.3s ease;
}
