.navbar {
  height: 60px !important;
}

#logo {
  color: #04b616;
  font-weight: bold;
  text-shadow: 0 0 5px #8dff7e6f;
}

#navbarScroll {
  border: none !important;
  box-shadow: none !important;
}

.text-light {
  color: #d4d4d4 !important;
}

#login {
  background-color: #000000;
  color: #04b616;
  border: #04b616 solid 2px;
  border-radius: 0px;
  transition: all 0.7s ease;
  box-shadow: 0 0 5px #8dff7e94;
}

#login:hover {
  background-color: #04b616;
  border: #04b616 solid 2px;
  color: #000;
}

.Toggle {
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.navbar-collapse {
  background-color: #000;
}

.navlink {
  position: relative;
  padding: 0;
}

.navlink::before {
  content: "";
  position: absolute;
  left: 28%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: rgb(81, 217, 0);
  background: linear-gradient(
    90deg,
    rgba(81, 217, 0, 1) 0%,
    rgba(0, 255, 218, 1) 100%
  );
  transition: width 0.25s ease;
  border-radius: 50% 90% 90% 90% / 90% 90% 90% 90%;
}

.navlink:hover::before {
  width: 45%;
}
