.creatpost-link {
  display: inline-block;
  padding: 3px 8px;
  border: #04b616 solid 2px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.creatpost-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(calc(100% + 2px));
  background: #04b616;
  transition: all 0.3s ease;
  z-index: -1;
}

.creatpost-link:hover::before {
  transform: translateY(0);
}

.creatpost-link:hover {
  font-weight: bold;
  color: #0d0d0d;
}

#postbtn {
  background-color: #04b616;
  border: none;
  border-radius: 3px;
  color: #000;
  font-weight: bold;
}

#postbtn:hover {
  background-color: #02da18;
}

#title:focus,
#body:focus,
#author:focus {
  outline: none;
  border: #04b616 solid 1px;
  box-shadow: 0 0 15px #04b616;
}

#title,
#body,
#author {
  outline: none;
  border: #04b616 solid 1px;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.balls {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #04b616;
  margin: 0 5px;
  animation: anime 1.2s infinite;
}

#ball02 {
  animation-delay: 0.1s;
}
#ball03 {
  animation-delay: 0.2s;
}
#ball04 {
  animation-delay: 0.3s;
}

@keyframes anime {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.blogcontainer {
  border: #04b616 dashed 2px;
  background-color: #d4d4d4;
  color: #000;
}
.bin {
  cursor: pointer;
}

.postbody {
  white-space: pre-line;
}
